.header_avatar {
	height: 48px;
	width: 48px;

	@media (max-width: 480px) {
		height: 34px;
		width: 34px;
	}
}

.header_subnavbar {
	@media (max-width: 480px) {
        position: absolute;
        left: 0;
        top: 3rem;
        background: white;
        flex-direction: column;
        width:100%;
        min-height: fit-content;
        border: 1px solid #4D4D4D;
        border-radius: 0.5rem;
        padding:10px 0;
	}
}
